<div id="<%= dom_id programming_rail %>">
  <p>
    <strong>Title:</strong>
    <%= programming_rail.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= programming_rail.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= programming_rail.link %>
  </p>

</div>
