<h1>Editing programming rail</h1>

<%= render "form", programming_rail: @programming_rail %>

<br>

<div>
  <%= link_to "View more info", @programming_rail %> |
  <%= link_to "Back to list of all programming languages", programming_rails_path %>
</div>
