<p style="color: green"><%= notice %></p>

<h1>Programming Languages</h1>

<div id="programming_rails">
  <% @programming_rails.each do |programming_rail| %>
    <%= render programming_rail %>
    <p>
      <%= link_to "View more info", programming_rail %>
    </p>
  <% end %>
</div>

<%= link_to "Add new programming language", new_programming_rail_path %>
