<h1>Add new programming language</h1>

<%= render "form", programming_rail: @programming_rail %>

<br>

<div>
  <%= link_to "Back to list of all programming languages", programming_rails_path %>
</div>
